---
import Container from "./Container.astro"
---
<div class="relative flex items-center justify-center min-h-screen" id="hero">
    <div class="absolute inset-0 z-0">
        <div class="relative w-full h-full">
            <img src="/images/spweaking.jpeg" class="object-cover w-full h-full" alt="Hero background"/>
            <div class="absolute inset-0 bg-black opacity-60"></div>
        </div>
    </div>
    <Container>
        <div class="relative z-10 text-center text-white space-y-6 max-w-3xl mx-auto bg-opacity-80 p-8 rounded-lg">
            <h1 class="text-5xl font-medium leading-none md:text-6xl">Bitcoin Bay Foundation</h1>
            <p class="text-xl font-normal leading-7">We are Bitcoiners, educators, business owners, food producers, content makers, and family members. Through community, we aim to bring prosperity to the Greater Tampa Bay Area.</p>
            <a class="px-9 py-5 bg-bitcoinbay-orange hover:bg-white text-white hover:text-bitcoinbay-orange rounded-2xl inline-flex items-center justify-center transition-colors duration-300" href="#events">
                <h2 class="text-xl font-normal">Explore Events</h2>
            </a>
        </div>
    </Container>
</div>

<!-- <div class="bg-white py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-5 items-center">
            <div class="col-span-1 flex justify-center grayscale transition duration-200 hover:grayscale-0">
                <img src="./supporters/coinflip.svg" class="h-12" alt="Coinflip logo" />
            </div>
            <div class="col-span-1 flex justify-center grayscale transition duration-200 hover:grayscale-0">
                <img src="./supporters/unchained.svg" class="h-12" alt="Unchained logo" />
            </div>
            <div class="col-span-1 flex items-center justify-center grayscale transition duration-200 hover:grayscale-0">
                <img src="./supporters/hashroots.jpeg" class="h-9 mr-2" alt="Hash Roots logo" />
                <p class="text-xl font-bold">Hash Roots Inc</p>
            </div>
            <div class="col-span-1 flex justify-center grayscale transition duration-200 hover:grayscale-0">
                <img src="./supporters/realfreedom.webp" class="h-12" alt="Real Freedom logo" />
            </div>
            <div class="col-span-1 flex justify-center grayscale transition duration-200 hover:grayscale-0">
                <img src="./supporters/synota.png" class="h-8" alt="Synota logo" />
            </div>
        </div>
    </div>
</div> -->