---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from our members their experience with Bitcoin Bay." />
</div>

<div class="flex-row items-center my-6 p-14 bg-bitcoinbay-red-100 text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-bitcoinbay-orange rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-black text-sm md:text-lg font-normal mb-4">"Bitcoin Bay has had a notable impact on the life of my family. This group's commitment to the future of humanity and empowering individuals to chart their own paths is commendable. With a foundation in excellence, Bitcoin Bay serves as a helpful resource in a constantly evolving world."</p>
            <span class="text-bitcoinbay-orange text-base md:text-xl font-medium">Steve Shrader<br/></span><span class="text-black text-lg font-normal">CTO at Relay Foundry</span>
        </div>
    </div>
</div>

</Container>