---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bitcoin Bay" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bitcoin Bay Foundation</title>
    <meta
      name="description"
      content="We are Bitcoiners, educators, business owners, food producers, content makers, and family members. Through community, we aim to bring prosperity to the Greater Tampa Bay Area."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-bitcoinbay-blue-50 font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
